name: Pull Request

on:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Hadolint
        run: docker compose run --rm hadolint Dockerfile
        if: always()
      - name: Shellcheck
        run: find tools -type f -not -iname '*.sql' | xargs docker compose run --rm shellcheck
        if: always()
      - name: Argbash
        run: |
          docker compose run --rm argbash
          git diff --exit-code
        if: always()

  build-test:
    strategy:
      matrix:
        pg: [12, 13, 14, 15, 16]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Build
        uses: docker/build-push-action@v6.18.0
        with:
          build-args: PG_MAJOR=${{ matrix.pg }}
      - name: Build Test
        uses: docker/build-push-action@v6.18.0
        with:
          build-args: PG_MAJOR=${{ matrix.pg }}
          target: test
      - name: Test
        run: DOCKER_BUILDKIT=1 docker compose run --rm bats test
